<div id="finished" class="tab hidden tableInfo">
        <div id="content3" class="tabcontent alignCenter">
            <table class="orders-table">
                <thead id="table-head">
                    <tr class="alignCenter">
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th class="side-border">Productos</th>
                    <th>Fecha de Completados</th>	
                    <th>Opciones</th>
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="finishedOrder in finishedOrders">
                        <td class="alignCenter">{{finishedOrder._id}}</td>
                        <td class="alignCenter">{{finishedOrder.customer}}</td>
                        <td class="alignCenter side-border" width="20%">{{finishedOrder.products.length}}</td>
                        <td class="alignCenter">{{finishedOrder.date}}</td>
                        <td class="alignCenter">
                            <a href="#!viewOrder/{{finishedOrder._id}}">Ver</a>
                            <br/>
                            <br/>
                            <a ng-click="deleteOrder($index, 'finished')">Eliminar</a> 
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>            
    </div>