
	<div class="client alignCenter">
		
		<div class="title">
			<h1 ng-if="order.status=='requested'">Solicitado</h1>
			
			<h1 ng-if="order.status=='finished'">Completado</h1>

			<h1 ng-if="order.status=='draft'">Borrador</span></h1>
		</div>
		
		<div ng-if="order.status=='draft'">
			<button ng-click="saveAsRequest()" class="btnAction alignCenter" id="send">Enviar</button>
			<button ng-click="save()" class="btnAction alignCenter" >Guardar</button>
		</div>

		<div class="clientState">
			<label>Cliente: </label>	
			<input ng-if="order.status=='draft'" class="input-txt" type="text" name="clientName" ng-model="order.customer" required>
			<input ng-if="order.status=='requested'" class="input-txt" type="text" name="clientName" value="{{order.customer}}" disabled>
			<input ng-if="order.status=='finished'" class="input-txt" type="text" name="clientName" value="{{order.customer}}" disabled>
			<br/>
			<br/>
			<label>Estado: </label>
			<label ng-if="order.status=='draft'"> Borrador </label>
			<label ng-if="order.status=='requested'"> Solicitado </label>
			<label ng-if="order.status=='finished'"> Completado </label>
		</div>	
	</div>
	<div class="productTable">
		<table id="product-table">
			<thead id="table-head">
				<tr class="alignCenter">
					<th>Pedido</th>
					<th></th>
				</tr>
		</thead>
		<tfoot>
			<th>Cantidad Total: </th>
			<th class="alignCenter">
				<span id="productsTotal">0</span>
			</th>
		</tfoot>
		<tbody>
			<tr ng-repeat="inProduct in order.products track by $index">
				<td> <label>{{productObj[inProduct]}}</label> </td>
				<td ng-if="order.status=='draft'"> <a ng-click="deleteProduct($index)"> Eliminar </a> </td>>	
			</tr>

			<tr ng-if="order.status=='draft'">
				<td>
					<select id="table-select" type="text" name="productName" required>
						<option ng-repeat="product in products" value="{{product._id}}">{{product.name}}</option>
					</select>
				</td>
				<td class="alignCenter">
					<button ng-click="addProduct()" id="add">Agregar</button>
				</td>
			</tr>				
		</tbody>
		</table>
	</div>
