<div id="request" class="tab hidden tableInfo">
        <div id="content2" class="tabcontent alignCenter">
            <table class="orders-table">
                <thead id="table-head">
                    <tr class="alignCenter">
                    <th>Pedido</th>
                    <th>Cliente</th>
                    <th>Productos</th>
                    <th>Fecha de Solicitud</th>	
                    <th>Opciones</th>	
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    <tr ng-repeat="requestedOrder in requestedOrders">
                        <td class="alignCenter">{{requestedOrder._id}}</td>
                        <td class="alignCenter">{{requestedOrder.customer}}</td>
                        <td class="alignCenter side-border" width="20%">{{requestedOrder.products.length}}</td>
                        <td class="alignCenter">{{requestedOrder.date}}</td>
                        <td class="alignCenter">
                            <a href="#!viewOrder/{{requestedOrder._id}}">Ver</a>
                            <br/>
                            <br/>
                            <a ng-click="deleteOrder($index, 'request')">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>      
    </div>	