body {
	background-color: teal;
	font-family: 'Gentium Basic', serif;
}

.alignCenter {
	text-align: center;
}

.hidden {
	display: none;
}




.to-right{
	text-align: right;
}

.header {
	margin-left: 10%;
	margin-right: 10%
  }

  
  

.input-txt{
	padding: 5px;
	margin-left: 1%;
}

html{
	height: 100%;
}


.client {
	margin-left: 15%;
	margin-right: 15%
}

.title h1{
	font-size: 4em;
	color: #2d0331;
	margin-top: 0%;
	padding: 25px;
}



.title #order-number{
	color: #41EAD4;
}


.btnAction {
	float: right;
	padding: 15px;
	margin-left: 2%;
	border: 2px dotted #D7BDE2;
	background-color:#5B2C6F;
	font-size: 17px;
	font-weight: bold;
	color: white;
}

.btnAction:hover {
	background-color:#2471A3;
	color: #5B2C6F;
}

.clientState {
	margin-top: 10%;
	text-align: left;
}

.clientState label{
	padding: 10px;
	font-size: 22px;
}

.clientState input{
	font-size: 1.3em;
	width: 38%;
}

.productTable{
	margin-top: 5%;
}

.productTable table{
	margin: 0 auto;
	width: 80%;
	text-align: left;
	border-collapse: collapse;
}

.productTable tbody{
	font-size: 18px;
}

.productTable th,td{
	text-align: center;
	padding: 5px;
}

.productTable thead{
	color: white;
	background-color: #6e2175;
	font-size: 25px;
	
	letter-spacing: 2px;
	font-weight: normal;
}

.productTable tfoot{
	color: black;
	font-size: 25px;
	letter-spacing: 2px;
}
 
.productTable tr:nth-child(even) { 
	background: rgb(173, 156, 250);
}

.productTable input{
	width: 15%;
	padding: 5px;
	font-size: 18px;
}



.productTable button,a{
	text-decoration: none;
	font-size: 18px;
	color:black;
	letter-spacing: 1px;
	font-weight: bold;
	background: none;
	border: none;
}


.tabs {
	margin:0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	list-style: none;
  }
  
  .tabs button {
	float: left;
	position: relative;
	background-color: rgb(173, 156, 250);
	color: black;
	padding: 15px;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	letter-spacing: 2px;
  }
  
  
  .tabs button:hover,
  .tabs button:focus,
  .tabs button:focus::after {
	background-color: #2d0331;
	color: rgb(173, 156, 250);
  }
  
  
  .tabs button:focus {
	outline: 0;
	z-index: 3;
  }
  
  
  
  .tableInfo {
	border: 2px solid black;
	border-radius: 10px;
	border-top: none;
	background-color: #6e2175;
	color: white;
	padding: 10px;
  
	font-size: 22px;
	letter-spacing: 2px;
	
  }
  
  .tableInfo table{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	color: white;
  
  }
  
  tbody{
	font-size: 18px;
  }
  
  th,td{
	padding: 5px;
	width: 20%;
  }
  
  .orders-table tbody > tr:hover{
	background-color: rgb(173, 156, 250);
	color: #011627;
	cursor: pointer;
  }
  
  .orders-table thead{
	color: white;
	font-size: 25px;
	letter-spacing: 2px;
	font-weight: normal;
  }
  
  