
<div class="header alignCenter">
            
        <div class="title">
            <h1>Pedidos</h1>
        </div>
        <form action="#!newOrder" method="get">
            <button class="btnAction" id="new">Crear nuevo</button>
        </form>
    </div>
    <div class="tabs" id="tabs-menu"> 
        <button id="draftTab" class="tablinks" onclick="showTab('draft')">Borradores</button>
        <button id="requestTab" class="tablinks" onclick="showTab('request')">Solicitados</button>
        <button id="finishedTab" class="tablinks" onclick="showTab('finished')">Completados</button>
    </div>

    <div id="draft" class=" tableInfo hidden ">
        <table class="orders-table">
        <thead id="table-head">
            <tr class="alignCenter">
            <th>Pedido</th>
            <th>Cliente</th>
            <th class="side-border">Productos</th>
            <th>Fecha de Borrador</th>	
            <th>Opciones</th>	
        </tr>
        </thead>
    
        <tfoot></tfoot>
    
        <tbody>
            <tr ng-repeat="draftOrder in draftOrders">
                <td class="alignCenter">{{draftOrder._id}}</td>
                <td class="alignCenter">{{draftOrder.customer}}</td>
                <td class="alignCenter side-border" width="20%">{{draftOrder.products.length}}</td>
                <td class="alignCenter">{{draftOrder.date}}</td>
                <td class="alignCenter">
                    <a href="#!viewOrder/{{draftOrder._id}}">Ver</a>
                    <br/>
                    <br/>
                    <a ng-click="deleteOrder($index, 'draft')">Eliminar</a>   
                </td>
            </tr>
        </tbody>
        
        </table>
    </div>	

    <div ng-include="'requestTab.html'"></div>

    <div ng-include="'finishedTab.html'"></div>



    
